<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org>
<head>
<meta charset=UTF-8>
<title>Insert title here</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
<style>
@font-face {
	font-family: 'omyu_pretty';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

body {
	padding: 0;
	margin: 0;
	font-family: 'omyu_pretty';
}

.btn {
	text-align: center;
	text-transform: uppercase;
	transition: 0.5s;
	background-size: 200% auto;
	color: white;
	box-shadow: 0 0 20px #eee;
	border-radius: 10px;
}

.btn:hover {
	background-position: right center;
	/* change the direction of the change here */
}

.btn-2 {
	background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
}

.cpImage {
	background-image: url("https://images.unsplash.com/photo-1472608127515-7a7e160c6ab9?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
	height: 80vh;
	background-size: cover;
}

.cpName {
	font-size: 1.5rem;
}
</style>
</head>
<body class="bg-dark">
	<!-- 상단 nav bar -->
	<div class="justify-content-between d-flex mt-3 mx-2 mb-2">
		<img src="/static-image/mainLogo2.jpg" style="width: 200px;"></img>
		<div class="login-cont d-flex">
			<form action="loginView" method="get">
				<button th:if="${session.loginUser == null}" class="btn btn-2">로그인</button>
			</form>

			<form action="signUpView" method="get">
				<button th:if="${session.loginUser == null}" class="btn btn-2 mx-3">회원가입</button>
			</form>

			<form action="signOut" method="get">
				<button th:unless="${session.loginUser == null}" class="btn btn-2">로그아웃</button>
			</form>
		</div>
	</div>
	
	<br><br>
	<!-- 달력 변경 버튼 -->
	<div class="d-flex justify-content-center">
		<svg onclick="changeCalendar(-1)" xmlns="http://www.w3.org/2000/svg" role="button" width="30" height="30" fill="white" class="bi bi-caret-left-fill" viewBox="0 0 16 16">
			<path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
		</svg>
		<div class="text-white h3" id="top-date"></div>
		<svg onclick="changeCalendar(1)" xmlns="http://www.w3.org/2000/svg" role="button" width="30" height="30" fill="white" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
			<path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
		</svg>
	</div>
	
	<!-- 달력 -->
	<table class="table table-bordered text-center m-auto" style="width: 80%;">
		<thead>
			<tr>
				<th class="text-danger">SUN</th>
				<th>MON</th>
				<th>TUE</th>
				<th>WED</th>
				<th>THU</th>
				<th>FRI</th>
				<th class="text-primary">SAT</th>
			</tr>
		</thead>
		<tbody class="text-end">
		 
		</tbody>
	</table>
	
	<br><br><br><br>
	
	<div class="d-block text-center fixed-bottom p-2 bg-white">
		<!-- 이벤트 추가 -->
		<form action="/addEvent" method="post">
			<input type="hidden" name="eventNo" id="eventNo" value="0">
			<div style="width: 80%; display: none;" class="m-auto" id="event-form-modal">
			<br>
			<div class="d-flex justify-content-between">
				<button type="button" class="btn-close" onclick="closeEventForm();"></button>
				<button class="btn btn-secondary btn-sm">저장</button>
			</div>
			
			<br>
			
			<input type="text" class="form-control" name="eventTitle" id="eventTitle" placeholder="스케쥴 이름">
			
			<br>
			
			<div class="border border-black rounded px-3 py-2">
				<div class="d-flex justify-content-between">
					종일
					<div class="form-check form-switch">
						<input class="form-check-input" name="isAllDay" id="isAllDay" type="checkbox" checked role="switch" value="on" onclick="showTime();">
					</div>
				</div>
				<hr class="my-0">
				<div class="d-flex justify-content-between">
					시작
					<input type="date" id="startDate" name="startDate" class="ms-auto" readonly>
					<input type="time" id="startTime" name="startTime" style="display: none;">
				</div>
				<hr class="my-0">
				<div class="d-flex justify-content-between">
					종료
					<input type="date" id="endDate" name="endDate" class="ms-auto" readonly>
					<input type="time" id="endTime" name="endTime" style="display: none;">
				</div>
			</div>
			
			<br>
			
			<div class="form-label text-start">반복 스케쥴</div>
			<div class="d-flex justify-content-around">
				<div>
					<input type="radio" id="repeatNone" name="repeat" checked value="N">&nbsp;<label for="repeatNone">없음</label>
				</div>
				<div>
					<input type="radio" id="repeatMonth" name="repeat" value="M">&nbsp;<label for="repeatMonth">매월</label>
				</div>
				<div>
					<input type="radio" id="repeatYear" name="repeat" value="Y">&nbsp;<label for="repeatYear">매년</label>
				</div>
			</div>
			
			<br>
			
			<div class="form-label text-start">멤버</div>
			<div class="d-flex justify-content-around">
				<div>
					<input type="radio" id="mySchedule" checked name="scheduleType" value="1">&nbsp;<label for="mySchedule">내 스케쥴</label>
				</div>
				<div>
					<input type="radio" id="coupleSchedule" name="scheduleType" value="2">&nbsp;<label for="coupleSchedule">커플 스케쥴</label>
				</div>
			</div>
			
			<br>
			
			<textarea style="resize: none; width: 100%;" name="memo" id="memo">메모</textarea>
		</div>
		</form>
		
		
		<!-- 일기 추가 / 이벤트 추가 --> 
		<div style="width: 80%; display:none;" class="m-auto" id="event-modal">
			<div class="d-flex justify-content-between">
				<button type="button" class="btn-close" onclick="closeSlide();"></button>
				<div id="event-date">2024년 4월 28일</div>
				<div></div>
			</div>
			<br>
			<div class="d-flex" role="button">
				<div class="bg-black" style="height:30px; width: 30px; border-radius: 30px;"></div>
				<div class="me-auto">[[${session.loginUser.mbNickName}]]'s Diary</div>
				<div>일기쓰기 ></div>
			</div>
			<br>
			<div class="d-flex" role="button">
				<div class="bg-black" style="height:30px; width: 30px; border-radius: 30px;"></div>
				<div class="me-auto">[[${session.partner.mbNickName}]]'s Diary</div>
				<div> ></div>
			</div>
			<br>
			<div class="d-flex" role="button" onclick="openEventForm(0);">
				<div>+ 스케쥴 또는 이벤트 추가</div>
			</div>
			<br>
			<!-- 당일 이벤트 -->
			<div id="eventsCont" style="width: 80%; overflow-y: auto; max-height: 100px;" class="m-auto"></div>
		</div>
		
		
		
		<!-- 버튼 -->
		<button class="btn btn-2 m-1" onclick="window.location.href='/'">홈</button>
		<button class="btn btn-2 m-1" onclick="window.location.href='/diary'">다이어리</button>
		<button class="btn btn-2 m-1" onclick="window.location.href='/calendar'">달력</button>
		<button class="btn btn-2 m-1" onclick="window.location.href='/notifications'">알림</button>
	</div>
</body>
<script th:inline="javascript">
	const eventModal = document.getElementById("event-modal");
	const eventFormModal = document.getElementById("event-form-modal");
	const eventDate = document.getElementById("event-date");
	const startDate = document.getElementById("startDate");
	const endDate = document.getElementById("endDate");
	const topDate = document.getElementById("top-date");
	const tbody = document.querySelector('tbody');
	let formDate = new Date();
	let calendarDate = new Date();
	const today = new Date();
	/*<![CDATA[*/
	const eList = /*[[${eList}]]*/null;
	const loginUser = /*[[${session.loginUser}]]*/null;
	const partner = /*[[${session.partner}]]*/null;
	/*]]>*/
	
	// 슬라이드 열었을시에 보여주는 event
	const showEvents = () => {
		const eventCont = document.getElementById("eventsCont");
		eventCont.innerHTML = "";
		let divs = "";
		for(const e of eList) {
			const eDate = new Date(e.eventStartDate);
			if(eDate.getDate() == formDate.getDate() && eDate.getMonth() == formDate.getMonth()) {
				divs += '<div class="d-flex justify-content-around"> \
							<div class="border rounded mb-1 col-10" role="button" onClick="openEventForm('+ e.eventNo +')"> \
								<div class="d-flex"> \
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-date-fill m-3" viewBox="0 0 16 16"> \
										<path d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4zm5.402 9.746c.625 0 1.184-.484 1.184-1.18 0-.832-.527-1.23-1.16-1.23-.586 0-1.168.387-1.168 1.21 0 .817.543 1.2 1.144 1.2"/> \
										<path d="M16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2m-6.664-1.21c-1.11 0-1.656-.767-1.703-1.407h.683c.043.37.387.82 1.051.82.844 0 1.301-.848 1.305-2.164h-.027c-.153.414-.637.79-1.383.79-.852 0-1.676-.61-1.676-1.77 0-1.137.871-1.809 1.797-1.809 1.172 0 1.953.734 1.953 2.668 0 1.805-.742 2.871-2 2.871zm-2.89-5.435v5.332H5.77V8.079h-.012c-.29.156-.883.52-1.258.777V8.16a13 13 0 0 1 1.313-.805h.632z"/> \
									</svg> \
									<div class="p-2"> \
										<div>'+ e.eventTitle +'</div> \
										<div>' + formatDate(e.eventStartDate) + '</div> \
									</div> \
									<div class="ms-auto m-3">' + formatPeople(e) + '</div> \
								</div> \
								<div class="text-start mx-3">' + e.eventContent + '</div> \
							</div>\
							<div class="my-auto"> \
								<svg xmlns="http://www.w3.org/2000/svg" onclick="location.href=\'/deleteEvent?eventNo='+ e.eventNo +'\'" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16" role="button"> \
								  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/> \
								  <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/> \
								</svg> \
							</div> \
						</div>';
			}
		}
		eventCont.innerHTML = divs;
		$(eventCont).css("display", "block");
	}
	
	const formatDate = (dateString) => {
	    const date = new Date(dateString);
	    const month = String(date.getMonth() + 1).padStart(2, '0');
	    const day = String(date.getDate()).padStart(2, '0');
	    return month + '/' + day;
	}
	
	const formatPeople = (e) => {
		if(e.eventType == 1) {
			if(e.mbId == loginUser.mbId) {
				return loginUser.mbNickName;
			} else {
				return partner.mbNickName;
			}
		} else {
			return loginUser.mbNickName + '&' + partner.mbNickName; 
		}
	} 
	
	// 달력에 이벤트 표시
	const addEvents = () => {
		const tds = document.querySelectorAll("td");
		for(const td of tds) {
			const ms = Date.parse(td.firstElementChild.value);
			const tdDate = new Date(ms);
			for(const e of eList) {
				const eDate = new Date(e.eventStartDate);
				if(eDate.getDate() == tdDate.getDate() && eDate.getMonth() == tdDate.getMonth()) {
					if(e.eventType == 1) {
						if(e.mbId == loginUser.mbId) {
							td.children[2].style.visibility = 'visible';
							td.children[2].innerText = e.eventTitle; 
						} else {
							td.children[3].style.visibility = 'visible';
							td.children[3].innerText = e.eventTitle; 
						}
					} else {
						td.children[4].style.visibility = 'visible';
						td.children[4].innerText = e.eventTitle; 
					}
				}
			}
		}
	}
	

	// 달력의 첫날 가져오기
	const getFirstDay = (month) => {
		let date = new Date();
		date.setMonth(month-1);
		date.setDate(1);
		date.setDate(date.getDate()-date.getDay());
		return date;
	}
	
	
	// 달력 javascript로 그리기
	const makeCalendar = (month) => {
		const date = getFirstDay(month);
		// 달력 6 줄
		let calendar = "";
		for(let i=0; i < 6; i++) {
			calendar += '<tr style="min-height: 100px">';
			for(let j=0; j<7; j++) {
				if (date.getDate() == today.getDate() && date.getMonth() == today.getMonth()  && formDate.getFullYear() == today.getFullYear()) {
					calendar += '<td class="pe-1 bg-dark-subtle" onclick="toggleSlide(this);" role="button">';
				} else {
					calendar += '<td class="pe-1" onclick="toggleSlide(this);" role="button">';
				}
				calendar += '<input type="hidden" value="' + date + '">';
				if (date.getMonth() + 1 != month) {
					calendar += '<div style="color: grey; line-height: 0.25rem;">' + date.getDate() + '</div>';
				} else {
					calendar += '<div style="line-height: 0.25rem;">' + date.getDate() + '</div>';
				}
				calendar += '<div class="rounded p-1 text-start" style="height: 30px; visibility: hidden; background: lightSteelBLue"></div>';
				calendar += '<div class="rounded p-1 text-start" style="height: 30px; visibility: hidden; background: navajoWhite;"></div>';
				calendar += '<div class="rounded p-1 text-start" style="height: 30px; background: LightCoral; visibility: hidden;"></div>';
				calendar += '</td>'
				date.setDate(date.getDate() + 1);
			}
			calendar += "</tr>";
		}
		return calendar;
	}
	
	// 달력 월 변경
	const changeCalendar = (change) => {
		calendarDate.setMonth(calendarDate.getMonth() + change);
		tbody.innerHTML = makeCalendar(calendarDate.getMonth() + 1);
		topDate.textContent = calendarDate.getFullYear() + "년 " + (calendarDate.getMonth() + 1) + "월"
		addEvents();
	}
	
	window.onload = () => {
		tbody.innerHTML = makeCalendar(calendarDate.getMonth() + 1);
		topDate.textContent = calendarDate.getFullYear() + "년 " + (calendarDate.getMonth() + 1) + "월";
		addEvents();
	}
	
	// 클릭 한 날짜 설정
	const setFormDate = (target) => {
		const parsedDate = Date.parse(target.firstElementChild.value);
		formDate = new Date(parsedDate);
		eventDate.innerText = formDate.getFullYear() + "년 " + (formDate.getMonth() + 1) + "월 " + (formDate.getDate()) + "일"; 
	}
	
	// 클릭 한 td색갈 넣기
	const setBgColor = (target) => {
		const tds = document.querySelectorAll("td");
		for (const td of tds) {
			if(target == td) {
				td.classList.add("bg-danger-subtle");
				td.classList.remove("bg-dark-subtle");
			}
		}
	}
	
	// 클릭 해제시 색갈 빼기
	const removeBgColor = () => {
		const tds = document.querySelectorAll("td");
		for (const td of tds) {
			td.classList.remove("bg-danger-subtle");
			const parsedDate = Date.parse(td.firstElementChild.value);
			const tempDate = new Date(parsedDate);
			if(tempDate.getDate() == today.getDate() && tempDate.getMonth() == today.getMonth() && tempDate.getFullYear() == today.getFullYear()) {
				td.classList.add("bg-dark-subtle");
			}
		}
	}
	
	// 스위치 눌렀을시 작동 기능
	const showTime  = () => {
		const times = document.querySelectorAll('input[type="time"]');
		const dates = document.querySelectorAll('input[type="date"]');
		for(const time of times) {
			if($(time).css("display") == "none") {
				$(time).css("display", "block");
			} else {
				$(time).css("display", "none");
			}
		}
		for(const d of dates) {
			if($(d).prop("readonly") == true) {
				$(d).removeAttr("readonly");
			} else {
				$(d).prop("readonly", true);
			} 
				
			
		}
	}
	
	
	// 슬라이드 눌렀을시 작동
	const toggleSlide = (target) => {
		if($(eventModal).css('display') == 'none') {
			openSlide(target);
			setBgColor(target);
		} else {
			closeSlide();
		}
	}
	
	// 슬라이드 닫기
	const closeSlide = () => {
		$(eventModal).slideUp();
		removeBgColor();
	}
	
	// 슬라이드 열기	
	const openSlide = (target) => {
		closeEventForm();
		setFormDate(target);
		showEvents();
		$(eventModal).slideDown();
	}
	
	// 이벤트 슬라이드 열기 
	const openEventForm = (eNo) => {
		closeSlide();
		const eventNo = document.getElementById("eventNo");
		const eventTitle = document.getElementById("eventTitle");
		const isAllDay = document.getElementById("isAllDay");
		const startTime = document.getElementById("startTime");
		const endTime = document.getElementById("endTime");
		const repeatNone = document.getElementById("repeatNone");
		const repeatMonth = document.getElementById("repeatMonth");
		const repeatYear = document.getElementById("repeatYear");
		const mySchedule = document.getElementById("mySchedule");
		const coupleSchedule = document.getElementById("coupleSchedule");
		const memo = document.getElementById("memo");
		
		
		if(eNo == 0) {
			eventNo.value  = 0;
			eventTitle.value = "";
			isAllDay.checked = true;
			repeatNone.checked = true;
			mySchedule.checked = true;
			memo.value = "메모";
			
			const dateString = formDate.toISOString().split('T')[0];
			startDate.value = dateString;
			endDate.value = dateString;
		} else {
			for(const e of eList) {
				if(e.eventNo == eNo) {
					eventNo.value = e.eventNo;
					eventTitle.value = e.eventTitle;
					if(e.allDay == "Y") {
						isAllDay.checked = true;
					} else {
						isAllDay.checked = false;
					}
					startDate.value = e.eventStartDate.split('T')[0];
					endDate.value = e.eventEndDate.split('T')[0];
					if(e.eventRepeat == "N") {
						repeatNone.checked  = true;
					} else if (e.eventRepeat == "M") {
						repeatMonth.checked = true;
					} else {
						repeatYear.checked = true;
					}
					if(e.eventType == 1) {
						mySchedule.checked = true;
					} else {
						coupleSchedule.checked = true;
					}
					memo.value = e.eventContent;
					
				}
			}
		}
		$(eventFormModal).slideDown();
	}
	
	// 이벤트 슬라이드 닫기
	const closeEventForm = () => {
		$(eventFormModal).slideUp();
	}
	
	
	
</script>
</html>

