<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yj.loveMemory.calendar.model.dao.CalendarDAO">
	
	<insert id="addEvent">
		insert into event
		values (event_seq.nextval, #{eventTitle}, #{eventContent}, #{eventType}, #{mbId}
				, #{eventStartDate}, #{eventEndDate}, #{eventRepeat}, #{allDay}, #{coupleNo})
	</insert>
	
	<select id="getEvents" resultType="Event">
		select * from event
		where couple_no = #{coupleNo}
	</select>
	
	<update id="updateEvent">
		update event
		set event_title = #{eventTitle}, event_content = #{eventContent}, event_type = #{eventType}, mbId = #{mbId},
			event_start_date = #{eventStartDate}, event_end_date = #{eventEndDate}, event_repeat = #{eventRepeat},
			all_day = #{allDay}, couple_no = #{coupleNo}
		where event_no = #{eventNo}
	</update>
	
	<delete id="deleteEvent">
		delete from event
		where event_no = #{eventNo}
	</delete>
</mapper>
