<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yj.loveMemory.member.model.dao.MemberDAO">

	<select id="login" resultType="Member">
		select *
		from member
		where mb_id = #{mbId} and mb_pwd = #{mbPwd}
	</select>
	
	<insert id="signUp">
		insert into member
		values (#{mbId}, #{mbPwd}, #{mbNickName}, #{profile}, #{birthday})
	</insert>
</mapper>
	